<ul>
  <li><ul>
    <li><h3>About</h3></li>
    <li>Beliefs</li>
    <li>Values</li>
    <li>Leadership</li>
  </ul></li>
  <li><ul>
    <li><h3>Media</h3></li>
    <li><%= link_to "Messages", "http://www.youtube.com/vc2online" %></li>
    <li><%= link_to "Worship", "https://itunes.apple.com/us/artist/vc2-music/1066077548" %></li>
  </ul></li>
  <li><ul>
    <li><h3>Ministries</h3></li>
    <li><%= link_to "Grow Groups", "https://vc2.churchcenter.com/groups/grow-groups" %></li>
    <li>Dream Teams</li>
    <li>VC3 - Kids</li>
    <li>Momentum Youth</li>
    <li>Bless The City</li>
  </ul></li>
  <li><ul>
    <li><h3>More</h3></li>
    <li><%= link_to "Events", events_path %></li>
    <li>Contact</li>
  </ul></li>
</ul>

<div>&copy;2017-<%= Time.now.year %> Victory Central Church. All rights reserved. | <%= link_to "Privacy Policy" %>