<h1>This Weekend</h1>
<ul>
  <% @locations.each do |l| %>
    <div>
    <h2><%= l.title %></h2>
    <% if l.building != "" %><%= l.building.titlecase %><br /><% end %>
      <%= link_to (URI.encode("https://www.google.com/maps/search/?api=1&query=" + l.address + " " + l.address2 + " " + l.city.titlecase + ", " + l.state.upcase + " " + l.zip + "&query_place_id=" + l.googlemapsid)) do %>
        <%= l.address.titlecase %><br />
          <% if l.address2 != "" %><%= l.address2 %><br /><% end %>
          <%= l.city.titlecase + ", " + l.state.upcase + " " + l.zip %><br />
    <% end %>
    </div>
    <div>


      <% @sorted_meetings.each do |service| %>
        <h3><% thisservice = service[0][0] %><%= thisservice.title %></h3>
        <% thisservicemeetings = service[1] %>
        <% meetings_grouped_by_weekday(thisservicemeetings).each do |s| %>
          <%= s %><br />
        <% end %>
      <% end %>

  
    </div>
  <% end %>
</ul>