<header>
  <span id="logo">VC2</span>
  <button id="navbutton">Menu</button>
</header>


<!-- NAVIGATION MENU -->


<nav id="navmenu">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Watch Online", "http://www.youtube.com/vc2online" %></li>
    <li><%= link_to "About", "http://www.vc2online.com/imnew.html" %></li>
    <li><%= link_to "Contact", "http://www.facebook.com/vc2online" %></li>
    <li><%= link_to "Resources", "http://www.facebook.com/vc2online" %></li>
    <li><%= link_to "Give", "http://give.vc2online.com" %></li>
  </ul>
</nav>